name: Deploy site to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown
          components: wasm-pack
          
      - name: Build site
        run: |
          wasm-pack build --target web

      - name: Prepare site folder
        run: |
          mkdir site
          rm pkg/.gitignore
          cp -r pkg/* site/pkg/
          cp index.html site/
          cp -r js/* site/js/
          cp -r images/* site/images/
          cp -r css/* site/css/
          
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: site
          path: site

  deploy:
    needs: build
    runs-on: ubuntu-latest
    
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
      
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: site
          path: site

      - name: Move files to root for deployment
        run: |
          mv site/* 
          
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
